.rs-noReadonly,
.rs-readonly,
.edit-text {
  color: #d32f2f;
  padding: 0 !important;
}

.rs-noReadonly::after,
.edit-text ::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 3px;
  height: 1px;
  border-bottom: 1px dotted black;
}

.rs-noReadonly input,
.rs-readonly input,
.edit-text input {
  padding: 1px;
  height: 20px !important;
}
.rs-noReadonly fieldset,
.rs-readonly fieldset,
.edit-text fieldset {
  border: none !important;
}
