@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

// .resume-container {
//   position: relative;
// }
.resume-left {
  // background-color: rgba(34, 42, 69, 0.96);
  background-color: #373E58;
  box-sizing: border-box;
  color: white;
  // padding-bottom: 48px;
  // padding-bottom: 10px;
  // width: 60%;
}

.resume-right {
  // width: 100%;
  // max-height: 600px;
  // overflow-y: scroll;
  // max-width: 600px;
  // overflow-x: scroll;
}

.item-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 24px;
  gap: 10px;
}

.title-info,
.title-hobby,
.title-skill {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button:hover {
  opacity: 0.7;
  // color: #1876b2;
}

.remove-button:hover {
  opacity: 0.7;
  // color: #d32f2f;
}

.form-resume .css-2ulfj5-MuiTypography-root,
.form-resume .css-1y8v3j7-MuiTypography-root,
.form-resume .css-tjvwag-MuiTypography-root,
.form-resume .css-z49yrg-MuiTypography-root,
.form-resume .css-ahj2mt-MuiTypography-root,
.form-resume .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input,
.form-resume .css-1v7ub50-MuiTypography-root,
.form-resume .css-15wwp11-MuiTableHead-root,
.form-resume .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root,
.form-resume .css-dsuxgy-MuiTableCell-root {
  // background-color: #d32f2f;
  font-family: 'Times New Roman', Times, serif !important;
}

.table-resume {
  transition: none !important;
  box-shadow: none !important;
}

.table-resume .css-1ex1afd-MuiTableCell-root {
  border: 1px solid black;

}


.rs-noReadonly, .rs-readonly {
  color: #d32f2f;
  padding: 0 !important;
}

.rs-noReadonly::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 4px;
  height: 1px;
  border-bottom: 2px dotted black;
}

.rs-noReadonly .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input, 
.rs-readonly .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 0;
}


.cv-noReadonly,
.cv-readonly {
    color: #d32f2f;
    padding: 0 !important;
}

.cv-noReadonly::after {
    position: absolute;
    content: "";
    width: 100%;
    // bottom: 20px;
    bottom: 16px;
    left: 14px;
    // right: -14px;
    height: 1px;
    border-bottom: 2px dotted black;
}

.cv-noReadonly .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input,
.cv-readonly .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 0 ;
}

.cv-noReadonly .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.cv-readonly .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  // padding: 16.5px 7px ;
  // padding: 12px 7px ;
  // margin-left: 7px;
  padding: 12px 0 ;
  margin-left: 14px;
}

// .haikhuat .MuiOutlinedInput-root.MuiInputBase-sizeSmall {
//   padding-top: 2px;
//   padding-bottom: 2px;
// }