@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

.resume-left {
  background-color: #373E58;
  box-sizing: border-box;
  color: white;
}

.item-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 24px;
  gap: 10px;
}

.title-info,
.title-hobby,
.title-skill {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button:hover {
  color: #1876b2;
}

.remove-button:hover {
  color: #d32f2f;
}
.form-resume {
  height: 560px;
  overflow-y: scroll;
  padding: 0 30px;
}

// .form-resume .css-2ulfj5-MuiTypography-root,
// .form-resume .css-1y8v3j7-MuiTypography-root,
// .form-resume .css-tjvwag-MuiTypography-root,
// .form-resume .css-z49yrg-MuiTypography-root,
// .form-resume .css-ahj2mt-MuiTypography-root,
// .form-resume .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input,
// .form-resume .css-1v7ub50-MuiTypography-root,
// .form-resume .css-15wwp11-MuiTableHead-root,
// .form-resume .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root,
// .form-resume .css-dsuxgy-MuiTableCell-root,
// .form-resume .css-6aghek-MuiTypography-root {
//   font-family: 'Times New Roman', Times, serif !important;
// }
.form-resume h6,
.form-resume h5,
.form-resume p,
.form-resume input,
.form-resume span,
.form-resume td {
  font-family: 'Times New Roman', Times, serif !important;
}
.resum-container {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}
.note-relation {
  font-style: italic;
  font-size: 16px;

}

.self-items {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.table-resume {
  transition: none !important;
  box-shadow: none !important;
  margin: 10px 0 20px !important;
}

// .table-resume .css-1ex1afd-MuiTableCell-root {
//   border: 1px solid black;
// }

.table-resume td {
  border: 1px solid red;
}


.date-signatune {
  font-style: italic;
}

.title-name-signatune {
  font-weight: bold !important;
}

.note-signatune {
  font-style: italic;
  font-size: 14px;
}

.name-signatune {
  font-weight: bold !important;
  font-style: italic;
}

.rs-noReadonly, .rs-readonly {
  color: #d32f2f;
  padding: 0 !important;
}

.rs-noReadonly::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 3px;
  height: 1px;
  border-bottom: 1px dotted black;
}

// .rs-noReadonly .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input, 
// .rs-readonly .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input{
//   padding: 1px;
// }
// .rs-noReadonly .css-1d3z3hw-MuiOutlinedInput-notchedOutline,
// .rs-readonly .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
//   border: none !important;
// }
.rs-noReadonly input, 
.rs-readonly input{
  padding: 1px;
  height: 20px !important;
}
.rs-noReadonly fieldset,
.rs-readonly fieldset {
  border: none !important;
}

// .cv-noReadonly,
// .cv-readonly {
//     color: #d32f2f;
//     padding: 0 !important;
// }

// .cv-noReadonly::after {
//     position: absolute;
//     content: "";
//     width: 100%;
//     bottom: 16px;
//     left: 14px;
//     height: 1px;
//     border-bottom: 2px dotted black;
// }

// .cv-noReadonly .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input,
// .cv-readonly .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
//     padding: 0 ;
// }

// .cv-noReadonly .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
// .cv-readonly .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
//   padding: 12px 0 ;
//   margin-left: 14px;
// }
